<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Cuestionario
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form #formulario="ngForm">
    <ion-list *ngFor="let item of cuestionario">
      <ion-item>
        <ion-label>{{item.pregunta}}</ion-label>
        <!--Si los fallos son negativos muestra numero errores-->
        <ion-badge *ngIf="item.errores<0" color="danger" mode="ios">{{item.errores}}</ion-badge>
        <!--Si el valor de errores es 1 mostrar la respuesta en verde-->
        <ion-badge *ngIf="item.errores>=1" color="success" mode="ios">{{item.respuesta}}</ion-badge>
        <ion-button (click)="presentaPregunta(item)" expand="block" fill="clear" shape="round">
          RESPONDER
        </ion-button>
      </ion-item>
    </ion-list>
  </form>
</ion-content>